<nav class="navbar navbar-lg navbar-light bg-light ">
  <a class="nav-link p-2 wow slideInDown" data-wow-duration="1s" data-wow-delay="200ms">
    <img src="../../assets/img/Online-shop_button.jpg" class="rounded-circle z-depth-0" alt="logo" height="35">
  </a>
  <a class="navbar-brand" href="#">Online Shoping</a>
  <div class="d-flex justify-content-end" id="navbarSupportedContent">
    <button type="button" class="btn btn-success">Show Cart</button>
  </div>
</nav>
<div class="row">
  <div class="card col-4 sm-6">
    <img class="card-img-top img-thumbnail card " src="https://placekitten.com/250/250" alt="Card image cap">
    <div class="card-body">
      <h4 class="card-title">Card title</h4>
      <p class="card-text">
        Some quick example text to build on the card title
        and make up the bulk of the card's content.
      </p>
      <button type="button" class="btn btn-warning btn-sm">Card</button>
    </div>
  </div>
  <div class="card col-4 sm-6">
    <img class="card-img-top img-thumbnail card" src="https://picsum.photos/250/250" alt="Card image cap">
    <div class="card-body">
      <h4 class="card-title">Card title</h4>
      <p class="card-text">
        Some quick example text to build on the card title
        and make up the bulk of the card's content.
      </p>
      <button type="button" class="btn btn-warning btn-sm">Card</button>
    </div>
  </div>
  <div class="card col-4 sm-6">
    <img class="card-img-top img-thumbnail card" src="https://picsum.photos/250/250" alt="Card image cap">
    <div class="card-body">
      <h4 class="card-title">Card title</h4>
      <p class="card-text">
        Some quick example text to build on the card title
        and make up the bulk of the card's content.
      </p>
      <button type="button" class="btn btn-warning btn-sm">Card</button>
    </div>
  </div>
  <div class="card col-4 sm-6">
    <img class="card-img-top img-thumbnail card" src="https://picsum.photos/250/250" alt="Card image cap">
    <div class="card-body">
      <h4 class="card-title">Card title</h4>
      <p class="card-text">
        Some quick example text to build on the card title
        and make up the bulk of the card's content.
      </p>
      <button type="button" class="btn btn-warning btn-sm">Card</button>
    </div>
  </div>
  <div class="card col-4 sm-6">
    <img class="card-img-top img-thumbnail card" src="https://picsum.photos/250/250" alt="Card image cap">
    <div class="card-body">
      <h4 class="card-title">Card title</h4>
      <p class="card-text">
        Some quick example text to build on the card title
        and make up the bulk of the card's content.
      </p>
      <button type="button" class="btn btn-warning btn-sm">Card</button>
    </div>
  </div>
  <div class="card col-4 sm-6">
    <img class="card-img-top img-thumbnail card" src="https://picsum.photos/250/250" alt="Card image cap">
    <div class="card-body">
      <h4 class="card-title">Card title</h4>
      <p class="card-text">
        Some quick example text to build on the card title
        and make up the bulk of the card's content.
      </p>
      <button type="button" class="btn btn-warning btn-sm">Card</button>
    </div>
  </div>
  <div class="card col-4 sm-6">
    <img class="card-img-top img-thumbnail card" src="https://picsum.photos/250/250" alt="Card image cap">
    <div class="card-body">
      <h4 class="card-title">Card title</h4>
      <p class="card-text">
        Some quick example text to build on the card title
        and make up the bulk of the card's content.
      </p>
      <button type="button" class="btn btn-warning btn-sm">Card</button>
    </div>
  </div>
  <div class="card col-4 sm-6">
    <img class="card-img-top img-thumbnail card" src="https://placekitten.com/250/250" alt="Card image cap">
    <div class="card-body">
      <h4 class="card-title">Card title</h4>
      <p class="card-text">
        Some quick example text to build on the card title
        and make up the bulk of the card's content.
      </p>
      <button type="button" class="btn btn-warning btn-sm">Card</button>
    </div>
  </div>
  <div class="card col-4 sm-6">
    <img class="card-img-top img-thumbnail card" src="https://placekitten.com/250/250" alt="Card image cap">
    <div class="card-body">
      <h4 class="card-title">Card title</h4>
      <p class="card-text">
        Some quick example text to build on the card title
        and make up the bulk of the card's content.
      </p>
      <button type="button" class="btn btn-warning btn-sm">Card</button>
    </div>
  </div>
  <div class="card col-4 sm-6">
    <img class="card-img-top img-thumbnail card" src="https://placekitten.com/250/250" alt="Card image cap">
    <div class="card-body">
      <h4 class="card-title">Card title</h4>
      <p class="card-text">
        Some quick example text to build on the card title
        and make up the bulk of the card's content.
      </p>
      <button type="button" class="btn btn-warning btn-sm">Card</button>
    </div>
  </div>
  <div class="card col-4 sm-6">
    <img class="card-img-top img-thumbnail card" src="https://placekitten.com/250/250" alt="Card image cap">
    <div class="card-body">
      <h4 class="card-title">Card title</h4>
      <p class="card-text">
        Some quick example text to build on the card title
        and make up the bulk of the card's content.
      </p>
      <button type="button" class="btn btn-warning btn-sm">Card</button>
    </div>
  </div>
  <div class="card col-4 sm-6">
    <img class="card-img-top img-thumbnail card" src="https://placekitten.com/250/250" alt="Card image cap">
    <div class="card-body">
      <h4 class="card-title">Card title</h4>
      <p class="card-text">
        Some quick example text to build on the card title
        and make up the bulk of the card's content.
      </p>
      <button type="button" class="btn btn-warning btn-sm">Card</button>

    </div>
  </div>


</div>
<!--mb-1 navbar navbar-expand-lg navbar-dark lighten-1 fixed-top scrolling-navbar navbar-dark bg-dark  -->
<!-- <div class="footer-copyright text-center py-3">© 2020 Copyright:
  <a href="https://www.facebook.com/mohamed.abohalema.94"> M.A.Abo halema</a>
</div> -->


<!-- Footer -->
<footer class="page-footer font-small" style="background-color:   #111113;">

  <div style="background-color: orange">
    <div class="container">

      <!-- Grid row-->
      <div class="row py-4 d-flex align-items-center">

        <!-- Grid column -->
        <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0  wow slideInLeft" data-wow-duration="2s"
          data-wow-duration="2s">
          <h6 class="mb-0">Get connected with us on social networks!</h6>
        </div>
        <!-- Grid column -->

      </div>

    </div>
  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="https://www.facebook.com/mohamed.abohalema.94"> M.A.Abo halema</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
